!**/.*.cjs

apps/*/coverage
apps/*/dist
apps/*/nyc

root/*/coverage
root/*/dist
root/*/nyc

tools/*/coverage
tools/*/dist
tools/*/nyc

# Rush temporary files
**/.rush/temp/**
common/deploy/
common/temp/
