**/*.log*
**/.DS_Store

**/.nyc-cache/**
**/.nyc_output/**
**/node_modules/**

/*/*/coverage/**
/*/*/dist/**
/*/*/nyc/**

/*/*/LICENSE
/*/*/.npmignore

# Rush temporary files
**/.rush/temp/**
common/deploy/
common/temp/
