project.json
tsconfig.json

dist/tsconfig.tsbuildinfo
dist/**/*.map

src/**

dist/file-content.js
dist/file-content.d.ts

dist/executors/build/schema.js
dist/executors/build/schema.d.ts

!src/executors/build/schema.json
